<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="corporate-subnav-bar">
<ul class="nav navbar-nav">
  <li>
    <a href="/fonctionnalites" class="<%= page=='fonctionnalites' ? 'current': '' %>">Liste complète</a>
  </li>
  <li>
    <a href="/employes" class="<%= page=='employes' ? 'current': '' %>">Employés</a>
  </li>
  <li>
    <a href="/automatique" class="<%= page=='automatique' ? 'current': '' %>">Automatique</a>
  </li>
  <li>
    <a href="/avance" class="<%= page=='avance' ? 'current': '' %>">Avancé</a>
  </li>
  <li>
    <a href="/support" class="<%= page=='support' ? 'current': '' %>">Support</a>
  </li>
  <li>
    <a href="/securite" class="<%= page=='securite' ? 'current': '' %>">Sécurité</a>
  </li>
</ul>
</div>

